.player-content{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: calc(6 * var(--unit-height)) calc(2 * var(--unit-height));
  grid-template-areas: "header header" "player player";
  width: 100%;
}
.header {
  grid-area: header;
  display: block;
}
.player-info {
  grid-area: player;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}
