@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --polynesian-blue: #004586ff;
  --dim-gray: #717171ff;
  --dartmouth-green: #006e44ff;
  --castleton-green: #005232ff;
  --rosewood: #510000ff;
}

.bg-x-blue {
  background-color: var(--polynesian-blue);
}

.bg-x-gray {
  background-color: var(--dim-gray);
}

.bg-x-light-green {
  background-color: var(--dartmouth-green);
}

.bg-x-dark-green {
  background-color: var(--castleton-green);
}

.bg-x-red {
  background-color: var(--rosewood);
}

.bg-x-offwhite {
  background-color: #fcf2f0;
}

.text-x-offwhite {
  color: #fff9f7;
}

.bg-x-offblack {
  background-color: #00001c;
}

.text-x-offblack {
  color: #00001c;
}

.mono-100 {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.mono-300 {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.mono-400 {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.mono-500 {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.container {
  container-type: inline-size;
}

.text-full-width-2 {
  font-size: 8rem;
  font-size: 27cqi;
}

.text-full-width-3 {
  font-size: 8rem;
  font-size: 22cqi;
}

.text-full-width-sm {
  font-size: 6rem;
  font-size: 15cqi;
}

.theme {
  background-color: var(--bg);
  color: var(--color);
}
.theme-invert {
  color: var(--bg);
  background-color: var(--color);
}

.theme-light {
  --bg: rgb(255, 252, 251);
  --color: blue;
  --border-color: rgb(191, 200, 255);
  --accent-color-bg: rgb(255, 132, 195);
  --accent-color: rgb(255, 77, 169);
  --accent-text: rgb(255, 252, 251);
}

.theme-dark {
  --bg: rgb(25, 26, 26);
  --color: rgb(200, 201, 201);
  --border-color: rgb(47, 48, 48);
  --accent-color-bg: rgb(131, 187, 0);
  --accent-color: rgb(166, 239, 0);
  --accent-text: rgb(47, 48, 48);
}

.theme-utah {
  --bg: rgb(207, 199, 191);
  --color: rgb(31, 28, 0);
  --color: rgb(45, 71, 139);
  --border-color: rgb(162, 154, 116);
  --accent-color-bg: rgb(83, 136, 120);
  --accent-color: rgb(70, 115, 101);
  --accent-text: rgb(255, 252, 251);
}
.theme-light .change-bg {
  filter: contrast(0.88) brightness(1);
}
.theme-utah .change-bg {
  filter: contrast(.55) brightness(0.85);
}
.theme-dark .change-bg {
  filter: contrast(.9) brightness(0.7);
}

@supports (color: color(display-p3 1 1 1)) {
  .theme-light {
    --accent-color: color(display-p3 1 0.525 0.879);
    --accent-color-bg: color(display-p3 1 0.65 0.91);
    --color: color(display-p3 0 0.207 1);
  }
  .theme-dark {
    --accent-color-bg: color(display-p3 0.62 .9 0);
    --accent-color: color(display-p3 0.694 1 0);
  }
}