:root {
  --player-grid-height: 48px;
  --set-grid-height: 72px;
  --set-grid-height-2: 36px;

  --bar-width: 11px;
  --bar-height: 48px;
  --bar-container-width: 12px;
  --session-inactive-height: 64px;

  --session-stats-height: 80px;
  --session-active-height: 32px;
}
@media screen and (min-width: 768px) {
  :root {
    --player-grid-height: 64px;
    --set-grid-height: 86px;
    --set-grid-height-2: 43px;
  }
}
* {
  border-color: var(--border-color) !important;
}
.player-page {
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.character-meta,
.player-meta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: var(--player-grid-height);
  line-height: var(--player-grid-height);
  justify-content: center;
  align-items: center;
}
.bars {
  height: var(--bar-height);
}
.set {
  display: grid;
  grid-template-columns: 1.8fr 1.5fr 1.8fr 5fr;
  height: var(--set-grid-height);
  line-height: var(--set-grid-height);
  align-items: baseline;
  gap: 1px;
  /* animation: fade-in 1s; */
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.set-meta {
  align-self: flex-start;
  display: grid;
  grid-template-columns: .8fr 1.2fr;
  align-items: center;
  grid-template-rows: repeat(2, var(--set-grid-height-2));
  line-height: var(--set-grid-height);
}
/* TODO:  Border bleeds into name if removed */
.set-meta > div {
  line-height: var(--set-grid-height-2);
  max-height: var(--set-grid-height-2);
}
.opponent-name {
  grid-column: span 2;
  text-align: end;
}
.opponent-name > div {
  padding-right: 1px;
}
.change .value {
  color: white;
}
.session[data-active="true"] {
  height: var(--session-height);
}

.rt-xl {
  font-size: 7cqi;
}
.rt-lg {
  font-size: 6cqi;
}
.rt-md {
  font-size: 5cqi;
}
.rt-sm {
  font-size: 4cqi;
}
.rt-xs {
  font-size: 2cqi;
}
.rt-rc {
  font-size: 4.75cqi;
}
.rt-op {
  font-size: 6.5cqi;
}
/* decreased the rt class font sizes by 10% */
@media screen and (min-width: 768px) {
  .rt-xl {
    font-size: 6.7cqi;
  }
  .rt-lg {
    font-size: 5.6cqi;
  }
  .rt-md {
    font-size: 4.5cqi;
  }
  .rt-sm {
    font-size: 3.4cqi;
  }
  .rt-xs {
    font-size: 1.2cqi;
  }
  .rt-op {
    font-size: 6.25cqi;
  }
}
.theme-switch {
  animation: fade-in 1s;
}

.character-select {
  appearance: none;
  height: 100%;
  width: 100%;
  border: none;
  background-color: transparent;
  outline-offset: -3px;
}

.app-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  gap: 8px;
  height: 48px;
  line-height: 48px;
  align-items: center;
  border-top: 1px solid var(--border-color);
  background-color: var(--bg);
  padding: 4px 4px;
  a, button {
    /* border: 1px solid var(--border-color); */
    min-width: 80px;
    height: 100%;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .claim {
    border-color: var(--accent-color);
    border-width: 1px;
  }
}

.active-link {
  color: var(--accent-color) !important;
}