/* .layout {
  --unit-height: 32px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows:
    repeat(6, var(--unit-height)) repeat(2, var(--unit-height))
    repeat(2, var(--unit-height)) repeat(4, var(--unit-height)) 1fr;
  grid-template-areas:
    "header header header header header header header header header header header header"
    "player player player player player player player player player player player player"
    "character character character character character character character character character character character character"
    "session session session session session session session session session session session session"
    "matches matches matches matches matches matches matches matches matches matches matches matches";
} */
.app {
  --unit-height: 32px;
  --border-color: black;
  --app-max-width: 800px;
  min-height: 100vh;
  max-width: var(--app-max-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}
.nav {
  --nav-height: 48px;
  display: grid;
  position: fixed;
  height: var(--nav-height);
  bottom: 0;
  max-width: calc(var(--app-max-width) - 2px);
  width: 100%;
  /* border-left: 1px solid transparent;
  border-right: 1px solid transparent; */
  border-top: 1px solid var(--border-color);
}
