/* .layout {
  --unit-height: 32px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows:
    repeat(6, var(--unit-height)) repeat(2, var(--unit-height))
    repeat(2, var(--unit-height)) repeat(4, var(--unit-height)) 1fr;
  grid-template-areas:
    "header header header header header header header header header header header header"
    "player player player player player player player player player player player player"
    "character character character character character character character character character character character character"
    "session session session session session session session session session session session session"
    "matches matches matches matches matches matches matches matches matches matches matches matches";
} */
.layout {
  --unit-height: 32px;
  --border-color: black;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows:
    calc(6 * var(--unit-height)) calc(2 * var(--unit-height))
    calc(2 * var(--unit-height)) calc(4 * var(--unit-height)) 1fr;
  grid-template-areas:
    "header header"
    "player player"
    "character character"
    "session session"
    "matches matches";
}
.layout > * {
  border: 1px solid var(--border-color);
}
.header {
  grid-area: header;
  display: block;
}
.player {
  grid-area: player;
  display: grid;
}
.character {
  grid-area: character;
  display: grid;
}
.session {
  grid-area: session;
  display: grid;
}
.matches {
  grid-area: matches;
  display: grid;
  height: 100%;
}

.app {
  max-width: 600px;
  margin: 0 auto;
}
